@import ../../style/base-settings

.architects
    margin-top: 2em
    margin-bottom: 4em

    &__title
        @extend %text-title

    &__div
        width: 40%
        height: 20%
        margin: 1rem auto
        padding: 0.6rem
        background-color: $color-white
        border: 1px solid $color-green
        text-align: center
        text-decoration: none
        color: $color-green
    &__link
        text-decoration: none
        color: $color-green

        
    


