
@import ../../style/base-settings
@import ../Header
@import ../Feedback
@import ../Login
@import ../Register
@import ../RegisterArchitect
@import ../Home
@import ../Search
@import ../Presentation
@import ../PresentationArchitects
@import ../Architects
@import ../Result
@import ../ArchitectDetail
@import ../CalendarMeeting
@import ../AddMeeting
@import ../AddMeetingConfirmation
@import ../Dashboard

.logo
    background-color: $color-white
    &__image
        width: 20%
        padding-left: 2%
        

.register
    &__button
        @extend %button-green
        font-family: $font-poppins
.login
    &__button
        @extend %button-white
        font-family: $font-poppins
    