.hidden
        display: none

.mobile-menu
    background-color: $color-white   
    
    &__list
        display: flex
        justify-content: space-between
        
    &__logo
        width: 80%
    &__logout-button
        width: 20vw
        height: 4vh
        background-color: $color-green
        border: 0px solid transparent
        text-decoration: none
        color: $color-white

